/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	// float: left;
	width: 100%;
	ul {
		// display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			// float: left;
			// position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;
			ul {
				left: -999rem;
				top: 0;
			}
			li {
				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}
			a {
				width: 200px;
			}
			:hover>a,
			.focus>a {}
			a:hover,
			a.focus {}
		}
		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}
	li {
		// float: left;
		// position: relative;
		&:hover>a,
		&.focus>a {}
	}
	a {
		display: block;
		text-decoration: none;
	}
	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {}
	.menu-item>a{
		font-size: 1.5rem;
		text-transform: uppercase;
		color: white;
		margin: 30px 0;
	}
}

/* Small menu. */

// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 768px) {
	// .menu-toggle {
	// 	display: none;
	// }
	// .main-navigation ul {
	// 	display: block;
	// }
// }

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.move-to-left {
	-webkit-transform: translateX(-400px);
	-moz-transform: translateX(-400px);
	-ms-transform: translateX(-400px);
	-o-transform: translateX(-400px);
	transform: translateX(-400px);
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

.site-header {
	height: 100vh;
}

.site-branding {
	max-width: 1240px; // text-align: right;
	position: fixed;
	z-index: 100;
	right: 0;
	left: 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	.hamburger-containor {
		align-self: center;		
	}
	h1{
		margin: 1.2rem 1rem;
		text-transform: uppercase;
	}
}

.hamburger:focus {
	outline: 0;
}

.main-navigation {
	height: 100%;
	width: 400px;
	position: fixed;
	top: 0;
	z-index: 1;
	right: 0;
	background-color: #FDD5A2;
	padding: 3rem; // ul{
	// }
}



.hidden-xs {
	display: block;
	position: fixed;
	z-index: 100;
	right: 0;
	margin: 1rem 0;
}
.visible-xs {
	display: none;
}

@media screen and (min-width: 480px) {

	.hidden-xs {
		display: none;
	}
	.visible-xs {
		display: block;
	}
}