/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

#page {
  position: relative;
  z-index: 2;
  background-color: white;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.site-content {
  max-width: 1024px;
  margin: 0 auto;
}

article {
  min-height: 400px;
  .post-containor {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 75px 75px;
    h2 {
      margin: 0;
    }
    .entry-title {
      writing-mode: vertical-lr;
      grid-area: title;
      a {
        text-decoration: none;
        font-size: 2rem;
        color: rgb(185, 185, 185);
        text-align: left;
      }
    }
    .entry-content {
      display: none;
      grid-area: desc;
    }
    .entry-meta {
      grid-area: date;
      margin: 0 1rem;
      .posted-on {
        color: darkgrey;
        writing-mode: vertical-lr;
        text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
      }
    }
    .thumbnail-wrapper {
      -webkit-box-shadow: -5px 11px 40px -9px rgba(0, 0, 0, 0.65);
      -moz-box-shadow: -5px 11px 40px -9px rgba(0, 0, 0, 0.65);
      box-shadow: -5px 11px 40px -9px rgba(0, 0, 0, 0.65);
      position: relative;
      overflow: hidden;
      margin: 0 1rem;
      z-index: -1;
      img {
        position: absolute;
        object-fit: cover;
        height: 100%;
      }
    } // .thumbnail-wrapper:after {
    //   background: rgba(0, 0, 0, .35);
    //   content: " ";
    //   height: 100%;
    //   width: 100%;
    //   position: absolute;
    // }
  }
}

article:nth-child(3n+1) {
  .post-containor {
    grid-template-areas: "... ... ... title" "... ... ... title" "date ... ... title";
    .thumbnail-wrapper {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }
  }
}

article:nth-child(3n+2) {
  .post-containor {
    grid-template-areas: "title ... ... ..." "title desc ... date" "title ... ... date";
    .thumbnail-wrapper {
      grid-column: 2 / 5;
      grid-row: 1 / 4;
    }
    .entry-content{
      margin: 0;
      p{
        margin: 0;
      }
    }    
    .entry-meta,
    .entry-title {
      justify-self: end;
      align-self: end;
      transform: rotate(180deg);
    }
  }
}

article:nth-child(3n+3) {
  .post-containor {
    grid-template-areas: "... ... ... ..." "... ... ... date" "title title title title";
    .thumbnail-wrapper {
      grid-column: 1 / 5;
      grid-row: 1 / 3;
    }
    .entry-meta {
      margin: 0;
    }
    .entry-title {
      text-align: center;
      writing-mode: horizontal-tb;
    }
  }
}

.site-info {
  height: 1rem;
}

.page-template-default .site-header{
  height: 70vh;
}

@media screen and (min-width: 480px) {
  .page-template-default .site-header{
    height: 100vh;
  }

  article {
    .post-containor {
      .entry-title {
        writing-mode: horizontal-tb;
      }
      .entry-content {
        display: block;
      }
    }
  }
  article:nth-child(3n+1) {
    .post-containor {
      grid-template-areas: "... ... title title" "... ... desc desc" "date ... link link";
      .thumbnail-wrapper {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
      }
    }

  }

  article:nth-child(3n+2) {
    .post-containor {
      grid-template-areas: "title title ... ..." "... desc ... date" "... desc ... date";
      .thumbnail-wrapper {
        grid-column: 3 / 5;
        grid-row: 1 / 4;
      }
      .entry-meta,
      .entry-title {
        align-self: start;
        transform: rotate(0deg);
      }
    }
  }
  article:nth-child(3n+3) {
    .post-containor {
      grid-template-areas: "... ... ... title" "... ... desc desc" "... ... ... date";
      .thumbnail-wrapper {
        grid-column: 2 / 4;
        grid-row: 1 / 4;
      }
      .entry-title {
        text-align: left;
    }
  }
  }

}